MONGODB_URI=mongodb+srv://pratyushtripathy001:Pratyush%402003@cluster0.zc3cfzy.mongodb.net/carRental?retryWrites=true&w=majority
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
