MONGODB_URI=mongodb+srv://pratyushtripathy001:Pratyush%402003@cluster0.zc3cfzy.mongodb.net/carRental?retryWrites=true&w=majority&appName=Cluster0
RAZORPAY_KEY_ID=rzp_test_SdVOjEvDOAwXar
RAZORPAY_KEY_SECRET=xwXEWiQut18N2THRLbSN3Jmg